<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Tong" connectionString="server=TON-PC\SQLEXPRESS;database=LvrLand;uid=tong;pwd=123456"/>
  </connectionStrings>
  <appSettings>
    <add key="LvrLandOriginalBase" value="dbo.LvrLandOriginalBase"/>
    <add key="Test_LvrLandOriginalBase" value="dbo.TestLvrLandOriginalBase"/>
    <add key="LandTable" value="dbo.LvrLandLand"/>
    <add key="BuildTable" value="dbo.LvrLandBuild"/>
    <add key="ParkTable" value="dbo.LvrLandPark"/>
    <add key="Test_LandTable" value="dbo.TestLvrLandLand"/>
    <add key="Test_BuildTable" value="dbo.TestLvrLandBuild"/>
    <add key="Test_ParkTable" value="dbo.TestLvrLandPark"/>
    
    <add key="LastAsync" value="201506010000000"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>