<?xml version="1.0" encoding="utf-8" ?>
<Attribute xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SubjectType>
    <Item Name="建物" Value="1"/>
    <Item Name="土地" Value="2"/>
    <Item Name="車位" Value="3"/>
    <Item Name="房地(土地+建物)" Value="4"/>
    <Item Name="房地(土地+建物)+車位" Value="5"/>
  </SubjectType>
  <PartitionType>
    <Item Name="住" Value="1"/>
    <Item Name="商" Value="2"/>
    <Item Name="工" Value="3"/>
    <Item Name="農" Value="4"/>
    <Item Name="其他" Value="5"/>
  </PartitionType>
  <BuildsType>
    <Item Name="辦公商業大樓" Value="1"/>
    <Item Name="華夏(10樓含以下有電梯)" Value="2"/>
    <Item Name="公寓(5樓含以下無電梯)" Value="3"/>
    <Item Name="透天厝" Value="4"/>
    <Item Name="廠辦" Value="5"/>
    <Item Name="住宅大樓(11層含以上有電梯)" Value="6"/>
    <Item Name="店面(店鋪)" Value="7"/>
    <Item Name="套房(1房1廳1衛)" Value="8"/>
    <Item Name="其他" Value="9"/>
  </BuildsType>
  <UsingType>
    <Item Name="住家用" Value="1"/>
    <Item Name="商業用" Value="2"/>
    <Item Name="國民住宅" Value="3"/>
    <Item Name="見使用執照" Value="4"/>
    <Item Name="停車空間" Value="5"/>
    <Item Name="工業用" Value="6"/>
    <Item Name="住商用" Value="7"/>
    <Item Name="見其他登記事項" Value="8"/>
  </UsingType>
  <MaterialsType>
    <Item Name="鋼筋混凝土造" Value="1"/>
    <Item Name="鋼骨混凝土造" Value="2"/>
    <Item Name="鋼骨鋼筋混凝土造" Value="3"/>
    <Item Name="預力混凝土造" Value="4"/>
    <Item Name="土磚石混合造" Value="5"/>
    <Item Name="磚造" Value="6"/>
    <Item Name="加強磚造" Value="7"/>
    <Item Name="見使用執照" Value="8"/>
    <Item Name="土造" Value="9"/>
    <Item Name="見其他登記事項" Value="10"/>
  </MaterialsType>
  <HadCar>
    <Item Name="有" Value="1"/>
    <Item Name="無" Value="0"/>
  </HadCar>
  <ParkingType>
    <Item Name="坡道平面" Value="1"/>
    <Item Name="一樓平面" Value="2"/>
    <Item Name="坡道機械" Value="3"/>
    <Item Name="塔式車位" Value="4"/>
    <Item Name="升降機械" Value="5"/>
    <Item Name="升降平面" Value="6"/>
    <Item Name="其他" Value="7"/>
  </ParkingType>
</Attribute>