<?xml version="1.0" encoding="utf-8" ?>
<checkData>
    <SaleAndPreorder>
      <column name="SaleType" check_len="1" len_min="0" len_max="20" allowNull="0"/>
      <column name="City" check_len="1" len_min="0" len_max="50" allowNull="0"/>
      <column name="CityCode" check_len="1" len_min="0" len_max="2" allowNull="0"/>
      <column name="CityName" check_len="1" len_min="0" len_max="50" allowNull="0"/>
      <column name="ZipCode" check_len="0" len_min="-1" len_max="-1" allowNull="0"/>
      <column name="Townships" check_len="0" len_min="0" len_max="50" allowNull="0"/>
      <column name="Address" check_len="1" len_min="0" len_max="255" allowNull="0"/>
      <column name="Subject" check_len="0" len_min="-1" len_max="-1" allowNull="1"/>
      <column name="SubjectCode" check_len="0" len_min="-1" len_max="-1" allowNull="1"/>
      <column name="Partition" check_len="1" len_min="0" len_max="15" allowNull="1"/>
      <column name="PartitionCode" check_len="0" len_min="-1" len_max="-1" allowNull="0"/>
      <column name="Non_Partition" check_len="1" len_min="0" len_max="15" allowNull="1"/>
      <column name="Non_Scheduled" check_len="1" len_min="0" len_max="15" allowNull="1"/>
      <column name="LandSquareMeter" check_len="0" len_min="-1" len_max="-1" allowNull="0"/>
      <column name="LandLevelGround" check_len="0" len_min="-1" len_max="-1" allowNull="0"/>
      <column name="TradeDate" check_len="0" len_min="-1" len_max="-1" allowNull="0"/>
      <column name="TradeYear" check_len="1" len_min="0" len_max="50" allowNull="0"/>
      <column name="AllFloors" check_len="0" len_min="-1" len_max="-1" allowNull="0"/>
      <column name="TradeFloors" check_len="1" len_min="0" len_max="100" allowNull="0"/>
      <column name="BuildsType" check_len="1" len_min="0" len_max="100" allowNull="0"/>
      <column name="BuildsTypeCode" check_len="0" len_min="-1" len_max="-1" allowNull="0"/>
      <column name="Using" check_len="1" len_min="0" len_max="50" allowNull="0"/>
      <column name="UsingCode" check_len="0" len_min="-1" len_max="-1" allowNull="0"/>
      <column name="Materials" check_len="1" len_min="0" len_max="25" allowNull="0"/>
      <column name="MaterialsCode" check_len="0" len_min="-1" len_max="-1" allowNull="0"/>
      <column name="CompletedDate" check_len="0" len_min="-1" len_max="-1" allowNull="0"/>
      <column name="BuildsSquareMeter" check_len="0" len_min="-1" len_max="-1" allowNull="0"/>
      <column name="BuildsLevelGround" check_len="0" len_min="-1" len_max="-1" allowNull="0"/>
      <column name="Room" check_len="0" len_min="-1" len_max="-1" allowNull="0"/>
      <column name="Livingroom" check_len="0" len_min="-1" len_max="-1" allowNull="0"/>
      <column name="Bathroom" check_len="0" len_min="-1" len_max="-1" allowNull="0"/>
      <column name="Compartment" check_len="0" len_min="-1" len_max="-1" allowNull="0"/>
      <column name="Management" check_len="0" len_min="-1" len_max="-1" allowNull="0"/>
      <column name="Cost" check_len="0" len_min="-1" len_max="-1" allowNull="0"/>
      <column name="SquareMeterCost" check_len="0" len_min="-1" len_max="-1" allowNull="0"/>
      <column name="LevelGroundCost" check_len="0" len_min="-1" len_max="-1" allowNull="0"/>
      <column name="CarType" check_len="1" len_min="0" len_max="20" allowNull="1"/>
      <column name="CarTypeCode" check_len="0" len_min="-1" len_max="-1" allowNull="1"/>
      <column name="CarSquareMeter" check_len="0" len_min="-1" len_max="-1" allowNull="1"/>
      <column name="CarLevelGround" check_len="0" len_min="-1" len_max="-1" allowNull="1"/>
      <column name="CarCost" check_len="0" len_min="-1" len_max="-1" allowNull="1"/>
      <column name="EditTime" check_len="0" len_min="-1" len_max="-1" allowNull="0"/>
    </SaleAndPreorder>
</checkData>