<?xml version="1.0" encoding="utf-8" ?>
<ColumeMapping>
  <lvr_land>
    <Business>
      <colume Name="鄉鎮市區" Mapping="Townships"></colume>
      <colume Name="交易標的" Mapping="Subject"></colume>
      <colume Name="土地區段位置或建物區門牌" Mapping="Adderss"></colume>
      <colume Name="土地移轉總面積平方公尺" Mapping="LandSquareMeter"></colume>
      <colume Name="都市土地使用分區" Mapping="Partition"></colume>
      <colume Name="非都市土地使用分區" Mapping="Non_Partition"></colume>
      <colume Name="非都市土地使用編定" Mapping="Non_Scheduled"></colume>
      <colume Name="交易年月" Mapping="TradeDate"></colume>
      <colume Name="交易筆棟數" Mapping=""></colume>
      <colume Name="移轉層次" Mapping="TradeFloors"></colume>
      <colume Name="總樓層數" Mapping="AllFloors"></colume>
      <colume Name="建物型態" Mapping="BuildsType"></colume>
      <colume Name="主要用途" Mapping="Using"></colume>
      <colume Name="主要建材" Mapping="Materials"></colume>
      <colume Name="建築完成年月" Mapping="CompletedDate"></colume>
      <colume Name="建物移轉總面積平方公尺" Mapping="BuildsSquareMeter"></colume>
      <colume Name="建物現況格局-房" Mapping="Room"></colume>
      <colume Name="建物現況格局-廳" Mapping="Livingroom"></colume>
      <colume Name="建物現況格局-衛" Mapping="Bathroom"></colume>
      <colume Name="建物現況格局-隔間" Mapping="Compartment"></colume>
      <colume Name="有無管理組織" Mapping="Management"></colume>
      <colume Name="總價元" Mapping="Cost"></colume>
      <colume Name="單價每平方公尺" Mapping="SquareMeterCost"></colume>
      <colume Name="車位類別" Mapping="CarType"></colume>
      <colume Name="車位移轉總面積平方公尺" Mapping="CarSquareMeter"></colume>
      <colume Name="車位總價元" Mapping="CarCost"></colume>
      <colume Name="備註" Mapping="Remark"></colume>
      <colume Name="編號" Mapping="ObjectNumber"></colume>
    </Business>
    <Lease>
      <colume Name="鄉鎮市區" Mapping=""></colume>
      <colume Name="租賃標的" Mapping=""></colume>
      <colume Name="土地區段位置或建物區門牌" Mapping=""></colume>
      <colume Name="租賃總面積平方公尺" Mapping=""></colume>
      <colume Name="都市土地使用分區" Mapping=""></colume>
      <colume Name="非都市土地使用分區" Mapping=""></colume>
      <colume Name="非都市土地使用編定" Mapping=""></colume>
      <colume Name="租賃年月" Mapping=""></colume>
      <colume Name="租賃筆棟數" Mapping=""></colume>
      <colume Name="租賃層次" Mapping=""></colume>
      <colume Name="總樓層數" Mapping=""></colume>
      <colume Name="建物型態" Mapping=""></colume>
      <colume Name="主要用途" Mapping=""></colume>
      <colume Name="主要建材" Mapping=""></colume>
      <colume Name="建築完成年月" Mapping=""></colume>
      <colume Name="租賃總面積平方公尺" Mapping=""></colume>
      <colume Name="建物現況格局-房" Mapping=""></colume>
      <colume Name="建物現況格局-廳" Mapping=""></colume>
      <colume Name="建物現況格局-衛" Mapping=""></colume>
      <colume Name="建物現況格局-隔間" Mapping=""></colume>
      <colume Name="有無管理組織" Mapping=""></colume>
      <colume Name="有無附傢俱" Mapping=""></colume>
      <colume Name="總額元" Mapping=""></colume>
      <colume Name="單價每平方公尺" Mapping=""></colume>
      <colume Name="車位類別" Mapping=""></colume>
      <colume Name="租賃總面積平方公尺" Mapping=""></colume>
      <colume Name="租金總額元" Mapping=""></colume>
      <colume Name="備註" Mapping=""></colume>
      <colume Name="編號" Mapping=""></colume>
    </Lease>
  </lvr_land>
</ColumeMapping>